article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-size: 100%; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}
body {
  margin: 0;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}
h6 {
  font-size: 0.67em;
  margin: 2.33em 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
dfn {
  font-style: italic;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
mark {
  background: #ff0;
  color: #000;
}
p,
pre {
  margin: 1em 0;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: '';
  content: none;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
dl,
menu,
ol,
ul {
  margin: 1em 0;
}
dd {
  margin: 0 0 0 40px;
}
menu,
ol,
ul {
  padding: 0 0 0 40px;
}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
img {
  border: 0; /* 1 */
  -ms-interpolation-mode: bicubic; /* 2 */
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
form {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0; /* 1 */
  padding: 0;
  white-space: normal; /* 2 */
  *margin-left: -7px;
/* 3 */
}
button,
input,
select,
textarea {
  font-size: 100%; /* 1 */
  margin: 0; /* 2 */
  vertical-align: baseline; /* 3 */
  *vertical-align: middle;
/* 3 */
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
  *overflow: visible;
/* 4 */
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
  *height: 13px;
/* 3 */
  *width: 13px;
/* 3 */
}
input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; /* 2 */
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto; /* 1 */
  vertical-align: top; /* 2 */
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.clearboth,
.separador {
  clear: both;
}
@media all and (min-width: 900px) {
  .separador {
    margin: 0.65em 0;
  }
}
.pie {
  overflow: hidden;
  margin: 0;
  background: #ffc0cb;
  padding: 1em;
  text-align: center;
  width: 100vw;
}
.slider__cuerpo {
  box-sizing: border-box;
  margin: 0;
  overflow: hidden;
}
.slider__contenedor {
  box-sizing: border-box;
  display: flex;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  position: relative;
  width: 100vw;
}
.slider__leyenda {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.slider__leyenda__contenido {
  background: rgba(5,5,5,0.5) url("../img/webmoderna11.png") left 50% no-repeat;
  background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  border: 1px solid #ffc0cb;
  color: #ffc0cb;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  line-height: 60px;
  padding: 0.5em 1em;
  position: relative;
  width: 300px;
/*width w = 150px
			height h = 40px
			margin-left -(w / 2)
			margin-top -(h / 2)
			&:before
				content ''
				position absolute
				right 0
				top 0
				triangle(15px, 15px, bottomLeft, pink)
	*/
}
.slider__item {
  animation-delay: 0;
  animation-duration: 18s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  background-color: #fff;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  box-sizing: border-box;
  display: table;
  height: 100vh;
  left: 0;
  opacity: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100vw;
}
/*
=========================================
Bucle: crea los nombres de las animaciones
Por fórmula coloca una imagen previamente numerada en la carpeta /img
Las imágenes deben llamarse "img[número de orden].jpg". Por ejemplo: img1.jpg, img2.jpg, y así sucesivamente.
========================================
*/
#slider__item_1 {
  background-image: url("../img/img1.jpg");
  animation-name: fadeing_1;
}
@-moz-keyframes fadeing_1 {
  0% {
    opacity: 1;
  }
  5.555555555555555% {
    opacity: 1;
  }
  11.11111111111111% {
    opacity: 1;
  }
  16.666666666666668% {
    opacity: 0;
  }
  22.22222222222222% {
    opacity: 0;
  }
  27.77777777777778% {
    opacity: 0;
  }
  33.333333333333336% {
    opacity: 0;
  }
  38.888888888888886% {
    opacity: 0;
  }
  44.44444444444444% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  55.55555555555556% {
    opacity: 0;
  }
  61.111111111111114% {
    opacity: 0;
  }
  66.66666666666667% {
    opacity: 0;
  }
  72.22222222222223% {
    opacity: 0;
  }
  77.77777777777777% {
    opacity: 0;
  }
  83.33333333333333% {
    opacity: 0;
  }
  88.88888888888889% {
    opacity: 0;
  }
  94.44444444444444% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeing_1 {
  0% {
    opacity: 1;
  }
  5.555555555555555% {
    opacity: 1;
  }
  11.11111111111111% {
    opacity: 1;
  }
  16.666666666666668% {
    opacity: 0;
  }
  22.22222222222222% {
    opacity: 0;
  }
  27.77777777777778% {
    opacity: 0;
  }
  33.333333333333336% {
    opacity: 0;
  }
  38.888888888888886% {
    opacity: 0;
  }
  44.44444444444444% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  55.55555555555556% {
    opacity: 0;
  }
  61.111111111111114% {
    opacity: 0;
  }
  66.66666666666667% {
    opacity: 0;
  }
  72.22222222222223% {
    opacity: 0;
  }
  77.77777777777777% {
    opacity: 0;
  }
  83.33333333333333% {
    opacity: 0;
  }
  88.88888888888889% {
    opacity: 0;
  }
  94.44444444444444% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeing_1 {
  0% {
    opacity: 1;
  }
  5.555555555555555% {
    opacity: 1;
  }
  11.11111111111111% {
    opacity: 1;
  }
  16.666666666666668% {
    opacity: 0;
  }
  22.22222222222222% {
    opacity: 0;
  }
  27.77777777777778% {
    opacity: 0;
  }
  33.333333333333336% {
    opacity: 0;
  }
  38.888888888888886% {
    opacity: 0;
  }
  44.44444444444444% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  55.55555555555556% {
    opacity: 0;
  }
  61.111111111111114% {
    opacity: 0;
  }
  66.66666666666667% {
    opacity: 0;
  }
  72.22222222222223% {
    opacity: 0;
  }
  77.77777777777777% {
    opacity: 0;
  }
  83.33333333333333% {
    opacity: 0;
  }
  88.88888888888889% {
    opacity: 0;
  }
  94.44444444444444% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeing_1 {
  0% {
    opacity: 1;
  }
  5.555555555555555% {
    opacity: 1;
  }
  11.11111111111111% {
    opacity: 1;
  }
  16.666666666666668% {
    opacity: 0;
  }
  22.22222222222222% {
    opacity: 0;
  }
  27.77777777777778% {
    opacity: 0;
  }
  33.333333333333336% {
    opacity: 0;
  }
  38.888888888888886% {
    opacity: 0;
  }
  44.44444444444444% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  55.55555555555556% {
    opacity: 0;
  }
  61.111111111111114% {
    opacity: 0;
  }
  66.66666666666667% {
    opacity: 0;
  }
  72.22222222222223% {
    opacity: 0;
  }
  77.77777777777777% {
    opacity: 0;
  }
  83.33333333333333% {
    opacity: 0;
  }
  88.88888888888889% {
    opacity: 0;
  }
  94.44444444444444% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#slider__item_2 {
  background-image: url("../img/img2.jpg");
  animation-name: fadeing_2;
}
@-moz-keyframes fadeing_2 {
  0% {
    opacity: 0;
  }
  5.555555555555555% {
    opacity: 0;
  }
  11.11111111111111% {
    opacity: 0;
  }
  16.666666666666668% {
    opacity: 1;
  }
  22.22222222222222% {
    opacity: 1;
  }
  27.77777777777778% {
    opacity: 1;
  }
  33.333333333333336% {
    opacity: 0;
  }
  38.888888888888886% {
    opacity: 0;
  }
  44.44444444444444% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  55.55555555555556% {
    opacity: 0;
  }
  61.111111111111114% {
    opacity: 0;
  }
  66.66666666666667% {
    opacity: 0;
  }
  72.22222222222223% {
    opacity: 0;
  }
  77.77777777777777% {
    opacity: 0;
  }
  83.33333333333333% {
    opacity: 0;
  }
  88.88888888888889% {
    opacity: 0;
  }
  94.44444444444444% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fadeing_2 {
  0% {
    opacity: 0;
  }
  5.555555555555555% {
    opacity: 0;
  }
  11.11111111111111% {
    opacity: 0;
  }
  16.666666666666668% {
    opacity: 1;
  }
  22.22222222222222% {
    opacity: 1;
  }
  27.77777777777778% {
    opacity: 1;
  }
  33.333333333333336% {
    opacity: 0;
  }
  38.888888888888886% {
    opacity: 0;
  }
  44.44444444444444% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  55.55555555555556% {
    opacity: 0;
  }
  61.111111111111114% {
    opacity: 0;
  }
  66.66666666666667% {
    opacity: 0;
  }
  72.22222222222223% {
    opacity: 0;
  }
  77.77777777777777% {
    opacity: 0;
  }
  83.33333333333333% {
    opacity: 0;
  }
  88.88888888888889% {
    opacity: 0;
  }
  94.44444444444444% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes fadeing_2 {
  0% {
    opacity: 0;
  }
  5.555555555555555% {
    opacity: 0;
  }
  11.11111111111111% {
    opacity: 0;
  }
  16.666666666666668% {
    opacity: 1;
  }
  22.22222222222222% {
    opacity: 1;
  }
  27.77777777777778% {
    opacity: 1;
  }
  33.333333333333336% {
    opacity: 0;
  }
  38.888888888888886% {
    opacity: 0;
  }
  44.44444444444444% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  55.55555555555556% {
    opacity: 0;
  }
  61.111111111111114% {
    opacity: 0;
  }
  66.66666666666667% {
    opacity: 0;
  }
  72.22222222222223% {
    opacity: 0;
  }
  77.77777777777777% {
    opacity: 0;
  }
  83.33333333333333% {
    opacity: 0;
  }
  88.88888888888889% {
    opacity: 0;
  }
  94.44444444444444% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeing_2 {
  0% {
    opacity: 0;
  }
  5.555555555555555% {
    opacity: 0;
  }
  11.11111111111111% {
    opacity: 0;
  }
  16.666666666666668% {
    opacity: 1;
  }
  22.22222222222222% {
    opacity: 1;
  }
  27.77777777777778% {
    opacity: 1;
  }
  33.333333333333336% {
    opacity: 0;
  }
  38.888888888888886% {
    opacity: 0;
  }
  44.44444444444444% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  55.55555555555556% {
    opacity: 0;
  }
  61.111111111111114% {
    opacity: 0;
  }
  66.66666666666667% {
    opacity: 0;
  }
  72.22222222222223% {
    opacity: 0;
  }
  77.77777777777777% {
    opacity: 0;
  }
  83.33333333333333% {
    opacity: 0;
  }
  88.88888888888889% {
    opacity: 0;
  }
  94.44444444444444% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
#slider__item_3 {
  background-image: url("../img/img3.jpg");
  animation-name: fadeing_3;
}
@-moz-keyframes fadeing_3 {
  0% {
    opacity: 0;
  }
  5.555555555555555% {
    opacity: 0;
  }
  11.11111111111111% {
    opacity: 0;
  }
  16.666666666666668% {
    opacity: 0;
  }
  22.22222222222222% {
    opacity: 0;
  }
  27.77777777777778% {
    opacity: 0;
  }
  33.333333333333336% {
    opacity: 1;
  }
  38.888888888888886% {
    opacity: 1;
  }
  44.44444444444444% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  55.55555555555556% {
    opacity: 0;
  }
  61.111111111111114% {
    opacity: 0;
  }
  66.66666666666667% {
    opacity: 0;
  }
  72.22222222222223% {
    opacity: 0;
  }
  77.77777777777777% {
    opacity: 0;
  }
  83.33333333333333% {
    opacity: 0;
  }
  88.88888888888889% {
    opacity: 0;
  }
  94.44444444444444% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fadeing_3 {
  0% {
    opacity: 0;
  }
  5.555555555555555% {
    opacity: 0;
  }
  11.11111111111111% {
    opacity: 0;
  }
  16.666666666666668% {
    opacity: 0;
  }
  22.22222222222222% {
    opacity: 0;
  }
  27.77777777777778% {
    opacity: 0;
  }
  33.333333333333336% {
    opacity: 1;
  }
  38.888888888888886% {
    opacity: 1;
  }
  44.44444444444444% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  55.55555555555556% {
    opacity: 0;
  }
  61.111111111111114% {
    opacity: 0;
  }
  66.66666666666667% {
    opacity: 0;
  }
  72.22222222222223% {
    opacity: 0;
  }
  77.77777777777777% {
    opacity: 0;
  }
  83.33333333333333% {
    opacity: 0;
  }
  88.88888888888889% {
    opacity: 0;
  }
  94.44444444444444% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes fadeing_3 {
  0% {
    opacity: 0;
  }
  5.555555555555555% {
    opacity: 0;
  }
  11.11111111111111% {
    opacity: 0;
  }
  16.666666666666668% {
    opacity: 0;
  }
  22.22222222222222% {
    opacity: 0;
  }
  27.77777777777778% {
    opacity: 0;
  }
  33.333333333333336% {
    opacity: 1;
  }
  38.888888888888886% {
    opacity: 1;
  }
  44.44444444444444% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  55.55555555555556% {
    opacity: 0;
  }
  61.111111111111114% {
    opacity: 0;
  }
  66.66666666666667% {
    opacity: 0;
  }
  72.22222222222223% {
    opacity: 0;
  }
  77.77777777777777% {
    opacity: 0;
  }
  83.33333333333333% {
    opacity: 0;
  }
  88.88888888888889% {
    opacity: 0;
  }
  94.44444444444444% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeing_3 {
  0% {
    opacity: 0;
  }
  5.555555555555555% {
    opacity: 0;
  }
  11.11111111111111% {
    opacity: 0;
  }
  16.666666666666668% {
    opacity: 0;
  }
  22.22222222222222% {
    opacity: 0;
  }
  27.77777777777778% {
    opacity: 0;
  }
  33.333333333333336% {
    opacity: 1;
  }
  38.888888888888886% {
    opacity: 1;
  }
  44.44444444444444% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  55.55555555555556% {
    opacity: 0;
  }
  61.111111111111114% {
    opacity: 0;
  }
  66.66666666666667% {
    opacity: 0;
  }
  72.22222222222223% {
    opacity: 0;
  }
  77.77777777777777% {
    opacity: 0;
  }
  83.33333333333333% {
    opacity: 0;
  }
  88.88888888888889% {
    opacity: 0;
  }
  94.44444444444444% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
#slider__item_4 {
  background-image: url("../img/img4.jpg");
  animation-name: fadeing_4;
}
@-moz-keyframes fadeing_4 {
  0% {
    opacity: 0;
  }
  5.555555555555555% {
    opacity: 0;
  }
  11.11111111111111% {
    opacity: 0;
  }
  16.666666666666668% {
    opacity: 0;
  }
  22.22222222222222% {
    opacity: 0;
  }
  27.77777777777778% {
    opacity: 0;
  }
  33.333333333333336% {
    opacity: 0;
  }
  38.888888888888886% {
    opacity: 0;
  }
  44.44444444444444% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  55.55555555555556% {
    opacity: 1;
  }
  61.111111111111114% {
    opacity: 1;
  }
  66.66666666666667% {
    opacity: 0;
  }
  72.22222222222223% {
    opacity: 0;
  }
  77.77777777777777% {
    opacity: 0;
  }
  83.33333333333333% {
    opacity: 0;
  }
  88.88888888888889% {
    opacity: 0;
  }
  94.44444444444444% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fadeing_4 {
  0% {
    opacity: 0;
  }
  5.555555555555555% {
    opacity: 0;
  }
  11.11111111111111% {
    opacity: 0;
  }
  16.666666666666668% {
    opacity: 0;
  }
  22.22222222222222% {
    opacity: 0;
  }
  27.77777777777778% {
    opacity: 0;
  }
  33.333333333333336% {
    opacity: 0;
  }
  38.888888888888886% {
    opacity: 0;
  }
  44.44444444444444% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  55.55555555555556% {
    opacity: 1;
  }
  61.111111111111114% {
    opacity: 1;
  }
  66.66666666666667% {
    opacity: 0;
  }
  72.22222222222223% {
    opacity: 0;
  }
  77.77777777777777% {
    opacity: 0;
  }
  83.33333333333333% {
    opacity: 0;
  }
  88.88888888888889% {
    opacity: 0;
  }
  94.44444444444444% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes fadeing_4 {
  0% {
    opacity: 0;
  }
  5.555555555555555% {
    opacity: 0;
  }
  11.11111111111111% {
    opacity: 0;
  }
  16.666666666666668% {
    opacity: 0;
  }
  22.22222222222222% {
    opacity: 0;
  }
  27.77777777777778% {
    opacity: 0;
  }
  33.333333333333336% {
    opacity: 0;
  }
  38.888888888888886% {
    opacity: 0;
  }
  44.44444444444444% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  55.55555555555556% {
    opacity: 1;
  }
  61.111111111111114% {
    opacity: 1;
  }
  66.66666666666667% {
    opacity: 0;
  }
  72.22222222222223% {
    opacity: 0;
  }
  77.77777777777777% {
    opacity: 0;
  }
  83.33333333333333% {
    opacity: 0;
  }
  88.88888888888889% {
    opacity: 0;
  }
  94.44444444444444% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeing_4 {
  0% {
    opacity: 0;
  }
  5.555555555555555% {
    opacity: 0;
  }
  11.11111111111111% {
    opacity: 0;
  }
  16.666666666666668% {
    opacity: 0;
  }
  22.22222222222222% {
    opacity: 0;
  }
  27.77777777777778% {
    opacity: 0;
  }
  33.333333333333336% {
    opacity: 0;
  }
  38.888888888888886% {
    opacity: 0;
  }
  44.44444444444444% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  55.55555555555556% {
    opacity: 1;
  }
  61.111111111111114% {
    opacity: 1;
  }
  66.66666666666667% {
    opacity: 0;
  }
  72.22222222222223% {
    opacity: 0;
  }
  77.77777777777777% {
    opacity: 0;
  }
  83.33333333333333% {
    opacity: 0;
  }
  88.88888888888889% {
    opacity: 0;
  }
  94.44444444444444% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
#slider__item_5 {
  background-image: url("../img/img5.jpg");
  animation-name: fadeing_5;
}
@-moz-keyframes fadeing_5 {
  0% {
    opacity: 0;
  }
  5.555555555555555% {
    opacity: 0;
  }
  11.11111111111111% {
    opacity: 0;
  }
  16.666666666666668% {
    opacity: 0;
  }
  22.22222222222222% {
    opacity: 0;
  }
  27.77777777777778% {
    opacity: 0;
  }
  33.333333333333336% {
    opacity: 0;
  }
  38.888888888888886% {
    opacity: 0;
  }
  44.44444444444444% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  55.55555555555556% {
    opacity: 0;
  }
  61.111111111111114% {
    opacity: 0;
  }
  66.66666666666667% {
    opacity: 1;
  }
  72.22222222222223% {
    opacity: 1;
  }
  77.77777777777777% {
    opacity: 1;
  }
  83.33333333333333% {
    opacity: 0;
  }
  88.88888888888889% {
    opacity: 0;
  }
  94.44444444444444% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fadeing_5 {
  0% {
    opacity: 0;
  }
  5.555555555555555% {
    opacity: 0;
  }
  11.11111111111111% {
    opacity: 0;
  }
  16.666666666666668% {
    opacity: 0;
  }
  22.22222222222222% {
    opacity: 0;
  }
  27.77777777777778% {
    opacity: 0;
  }
  33.333333333333336% {
    opacity: 0;
  }
  38.888888888888886% {
    opacity: 0;
  }
  44.44444444444444% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  55.55555555555556% {
    opacity: 0;
  }
  61.111111111111114% {
    opacity: 0;
  }
  66.66666666666667% {
    opacity: 1;
  }
  72.22222222222223% {
    opacity: 1;
  }
  77.77777777777777% {
    opacity: 1;
  }
  83.33333333333333% {
    opacity: 0;
  }
  88.88888888888889% {
    opacity: 0;
  }
  94.44444444444444% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes fadeing_5 {
  0% {
    opacity: 0;
  }
  5.555555555555555% {
    opacity: 0;
  }
  11.11111111111111% {
    opacity: 0;
  }
  16.666666666666668% {
    opacity: 0;
  }
  22.22222222222222% {
    opacity: 0;
  }
  27.77777777777778% {
    opacity: 0;
  }
  33.333333333333336% {
    opacity: 0;
  }
  38.888888888888886% {
    opacity: 0;
  }
  44.44444444444444% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  55.55555555555556% {
    opacity: 0;
  }
  61.111111111111114% {
    opacity: 0;
  }
  66.66666666666667% {
    opacity: 1;
  }
  72.22222222222223% {
    opacity: 1;
  }
  77.77777777777777% {
    opacity: 1;
  }
  83.33333333333333% {
    opacity: 0;
  }
  88.88888888888889% {
    opacity: 0;
  }
  94.44444444444444% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeing_5 {
  0% {
    opacity: 0;
  }
  5.555555555555555% {
    opacity: 0;
  }
  11.11111111111111% {
    opacity: 0;
  }
  16.666666666666668% {
    opacity: 0;
  }
  22.22222222222222% {
    opacity: 0;
  }
  27.77777777777778% {
    opacity: 0;
  }
  33.333333333333336% {
    opacity: 0;
  }
  38.888888888888886% {
    opacity: 0;
  }
  44.44444444444444% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  55.55555555555556% {
    opacity: 0;
  }
  61.111111111111114% {
    opacity: 0;
  }
  66.66666666666667% {
    opacity: 1;
  }
  72.22222222222223% {
    opacity: 1;
  }
  77.77777777777777% {
    opacity: 1;
  }
  83.33333333333333% {
    opacity: 0;
  }
  88.88888888888889% {
    opacity: 0;
  }
  94.44444444444444% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
#slider__item_6 {
  background-image: url("../img/img6.jpg");
  animation-name: fadeing_6;
}
@-moz-keyframes fadeing_6 {
  0% {
    opacity: 0;
  }
  5.555555555555555% {
    opacity: 0;
  }
  11.11111111111111% {
    opacity: 0;
  }
  16.666666666666668% {
    opacity: 0;
  }
  22.22222222222222% {
    opacity: 0;
  }
  27.77777777777778% {
    opacity: 0;
  }
  33.333333333333336% {
    opacity: 0;
  }
  38.888888888888886% {
    opacity: 0;
  }
  44.44444444444444% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  55.55555555555556% {
    opacity: 0;
  }
  61.111111111111114% {
    opacity: 0;
  }
  66.66666666666667% {
    opacity: 0;
  }
  72.22222222222223% {
    opacity: 0;
  }
  77.77777777777777% {
    opacity: 0;
  }
  83.33333333333333% {
    opacity: 1;
  }
  88.88888888888889% {
    opacity: 1;
  }
  94.44444444444444% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fadeing_6 {
  0% {
    opacity: 0;
  }
  5.555555555555555% {
    opacity: 0;
  }
  11.11111111111111% {
    opacity: 0;
  }
  16.666666666666668% {
    opacity: 0;
  }
  22.22222222222222% {
    opacity: 0;
  }
  27.77777777777778% {
    opacity: 0;
  }
  33.333333333333336% {
    opacity: 0;
  }
  38.888888888888886% {
    opacity: 0;
  }
  44.44444444444444% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  55.55555555555556% {
    opacity: 0;
  }
  61.111111111111114% {
    opacity: 0;
  }
  66.66666666666667% {
    opacity: 0;
  }
  72.22222222222223% {
    opacity: 0;
  }
  77.77777777777777% {
    opacity: 0;
  }
  83.33333333333333% {
    opacity: 1;
  }
  88.88888888888889% {
    opacity: 1;
  }
  94.44444444444444% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes fadeing_6 {
  0% {
    opacity: 0;
  }
  5.555555555555555% {
    opacity: 0;
  }
  11.11111111111111% {
    opacity: 0;
  }
  16.666666666666668% {
    opacity: 0;
  }
  22.22222222222222% {
    opacity: 0;
  }
  27.77777777777778% {
    opacity: 0;
  }
  33.333333333333336% {
    opacity: 0;
  }
  38.888888888888886% {
    opacity: 0;
  }
  44.44444444444444% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  55.55555555555556% {
    opacity: 0;
  }
  61.111111111111114% {
    opacity: 0;
  }
  66.66666666666667% {
    opacity: 0;
  }
  72.22222222222223% {
    opacity: 0;
  }
  77.77777777777777% {
    opacity: 0;
  }
  83.33333333333333% {
    opacity: 1;
  }
  88.88888888888889% {
    opacity: 1;
  }
  94.44444444444444% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeing_6 {
  0% {
    opacity: 0;
  }
  5.555555555555555% {
    opacity: 0;
  }
  11.11111111111111% {
    opacity: 0;
  }
  16.666666666666668% {
    opacity: 0;
  }
  22.22222222222222% {
    opacity: 0;
  }
  27.77777777777778% {
    opacity: 0;
  }
  33.333333333333336% {
    opacity: 0;
  }
  38.888888888888886% {
    opacity: 0;
  }
  44.44444444444444% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  55.55555555555556% {
    opacity: 0;
  }
  61.111111111111114% {
    opacity: 0;
  }
  66.66666666666667% {
    opacity: 0;
  }
  72.22222222222223% {
    opacity: 0;
  }
  77.77777777777777% {
    opacity: 0;
  }
  83.33333333333333% {
    opacity: 1;
  }
  88.88888888888889% {
    opacity: 1;
  }
  94.44444444444444% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*# sourceMappingURL=slider.css.map */