/* Mi propio slider hecho sólo con CSS */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-size: 100%; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}
body {
  margin: 0;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}
h6 {
  font-size: 0.67em;
  margin: 2.33em 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
dfn {
  font-style: italic;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
mark {
  background: #ff0;
  color: #000;
}
p,
pre {
  margin: 1em 0;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: '';
  content: none;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
dl,
menu,
ol,
ul {
  margin: 1em 0;
}
dd {
  margin: 0 0 0 40px;
}
menu,
ol,
ul {
  padding: 0 0 0 40px;
}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
img {
  border: 0; /* 1 */
  -ms-interpolation-mode: bicubic; /* 2 */
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
form {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0; /* 1 */
  padding: 0;
  white-space: normal; /* 2 */
  *margin-left: -7px;
/* 3 */
}
button,
input,
select,
textarea {
  font-size: 100%; /* 1 */
  margin: 0; /* 2 */
  vertical-align: baseline; /* 3 */
  *vertical-align: middle;
/* 3 */
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
  *overflow: visible;
/* 4 */
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
  *height: 13px;
/* 3 */
  *width: 13px;
/* 3 */
}
input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; /* 2 */
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto; /* 1 */
  vertical-align: top; /* 2 */
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.slider__cuerpo {
  box-sizing: border-box;
  margin: 0;
  text-align: center;
}
.slider__contenedor {
  box-sizing: border-box;
  margin: 0;
  position: relative;
}
.slider__leyenda {
  background: rgba(5,5,5,0.5);
  border: 1px solid #ffc0cb;
  color: #fff;
  font-size: 20px;
  font-style: italic;
  display: inline-block;
  line-height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 150px;
  height: 40px;
  margin-left: -75px;
  margin-top: -20px;
}
.slider__item {
  animation-delay: 0;
  animation-duration: $cantidad_segundos s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  background-color: #fff;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  height: 100vh;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100vw;
}
#slider__item_1 {
  background-image: url("../img/img1.jpg");
}
#slider__item_2 {
  background-image: url("../img/img2.jpg");
}
#slider__item_3 {
  background-image: url("../img/img3.jpg");
}
#slider__item_4 {
  background-image: url("../img/img4.jpg");
}
#slider__item_1 {
  animation-name: fadeing_1;
}
#slider__item_2 {
  animation-name: fadeing_2;
}
#slider__item_3 {
  animation-name: fadeing_3;
}
#slider__item_4 {
  animation-name: fadeing_4;
}
/*	
	@keyframes fadeing_{$i}
		percentage($faseA), percentage($faseB)
			opacity 1
		percentage($faseC), percentage($faseD)
			opacity 0
		percentage($faseE), percentage($faseF)
			opacity 1*/
@-moz-keyframes fadeing_1 {
  0%, 18.75% {
    opacity: 1;
  }
  25%, 93.75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeing_1 {
  0%, 18.75% {
    opacity: 1;
  }
  25%, 93.75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeing_1 {
  0%, 18.75% {
    opacity: 1;
  }
  25%, 93.75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeing_1 {
  0%, 18.75% {
    opacity: 1;
  }
  25%, 93.75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeing_2 {
  0%, 18.75% {
    opacity: 0;
  }
  25%, 43.75% {
    opacity: 1;
  }
  50%, 100% {
    opacity: 0;
  }
}
@-webkit-keyframes fadeing_2 {
  0%, 18.75% {
    opacity: 0;
  }
  25%, 43.75% {
    opacity: 1;
  }
  50%, 100% {
    opacity: 0;
  }
}
@-o-keyframes fadeing_2 {
  0%, 18.75% {
    opacity: 0;
  }
  25%, 43.75% {
    opacity: 1;
  }
  50%, 100% {
    opacity: 0;
  }
}
@keyframes fadeing_2 {
  0%, 18.75% {
    opacity: 0;
  }
  25%, 43.75% {
    opacity: 1;
  }
  50%, 100% {
    opacity: 0;
  }
}
@-moz-keyframes fadeing_3 {
  0%, 43.75% {
    opacity: 0;
  }
  50%, 68.75% {
    opacity: 1;
  }
  75%, 100% {
    opacity: 0;
  }
}
@-webkit-keyframes fadeing_3 {
  0%, 43.75% {
    opacity: 0;
  }
  50%, 68.75% {
    opacity: 1;
  }
  75%, 100% {
    opacity: 0;
  }
}
@-o-keyframes fadeing_3 {
  0%, 43.75% {
    opacity: 0;
  }
  50%, 68.75% {
    opacity: 1;
  }
  75%, 100% {
    opacity: 0;
  }
}
@keyframes fadeing_3 {
  0%, 43.75% {
    opacity: 0;
  }
  50%, 68.75% {
    opacity: 1;
  }
  75%, 100% {
    opacity: 0;
  }
}
@-moz-keyframes fadeing_4 {
  0%, 68.75% {
    opacity: 0;
  }
  75%, 93.75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fadeing_4 {
  0%, 68.75% {
    opacity: 0;
  }
  75%, 93.75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes fadeing_4 {
  0%, 68.75% {
    opacity: 0;
  }
  75%, 93.75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeing_4 {
  0%, 68.75% {
    opacity: 0;
  }
  75%, 93.75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*# sourceMappingURL=slider.css.map */