/* Mi propio slider hecho sólo con CSS */

// Normalizando 
@import 'normalize'
@import 'funciones'

$items = 4
$tiempo_mostrar = 3

$tiempo_total = (($tiempo_mostrar + 1) * $items)

// El contenedor
.slider
	&__cuerpo
		box-sizing border-box
		margin 0
		text-align center
	
	&__contenedor
		box-sizing border-box
		vertical-align middle
		margin 0
		position relative
	
	&__leyenda
		background rgba(5,5,5,0.5)
		border 1px solid pink
		color #fff
		font-size 20px
		font-style italic
		display table-cell
		line-height 40px
		// Posicionando la leyenda siempre en el centro
		padding 0.5em 1em
		position relative
		// top 50%
		// left 50%
		/*width w = 150px
		height h = 40px
		margin-left -(w / 2)
		margin-top -(h / 2)
*/		
		&:before
			content ''
			position absolute
			right 0
			top 0
			triangle(15px, 15px, bottomLeft, pink)
	
	&__item
		animation-delay 0
		animation-duration $tiempo_total s
		animation-iteration-count infinite
		animation-timing-function ease-in
		background-color #fff
		background-position middle center
		background-repeat no-repeat
		background-size(cover)
		box-sizing border-box
		display table-row
		height 100vh
		left 0
		opacity 0
		position absolute
		top 0
		width 100vw

// Bucle: crea los nombres de las animaciones
for $i in 1..$items
	#slider__item_{$i}
		// Por fórmula coloca una imagen previamente numerada
		background-image url('../img/img' + ($i) + '.jpg')
		
		// El nombre de la animación numerada
		animation-name fadeing_ + $i
/*	
	@keyframes fadeing_{$i}
		percentage($faseA), percentage($faseB)
			opacity 1
		percentage($faseC), percentage($faseD)
			opacity 0
		percentage($faseE), percentage($faseF)
			opacity 1*/


// Los fotogramas
@keyframes {fadeing_1}
	0%, 18.75%
		opacity 1
		
	25%, 93.75%
		opacity 0
	
	100%
		opacity 1

@keyframes {fadeing_2}
	0%, 18.75%
		opacity 0
		
	25%, 43.75%
		opacity 1

	50%, 100%
		opacity 0

@keyframes {fadeing_3}
	0%, 43.75%
		opacity 0
		
	50%, 68.75%
		opacity 1

	75%, 100%
		opacity 0

@keyframes {fadeing_4}
	0%, 68.75%
		opacity 0
		
	75%, 93.75%
		opacity 1

	100%
		opacity 0
