*.log
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/mu-plugins/
wp-content/wp-cache-config.php
wp-content/plugins/hello.php
node_modules
/.htaccess
*.txt
*.xml
*.gz
*.zip
*.rar
wp-*.php
xml*.php
wp-admin
wp-includes
Datos
wp-content/plugins/codepeople-post-map
wp-content/uploads/wpcf7_captcha
wp-content/languages
